*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
   border: solid black 1px;
   gap: 10px;
   align-items: center;
   position: sticky;
   top: 0;
   background-color: white;
   z-index: 1;
}
.navbar__s1__title{
   color: #a435f0;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 25px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
}
.navbar__s2__search{
    border: none;
    width: 100%;
    align-items: center;
    background-color: transparent;
}
.navbar__s2__search:focus{
    outline: none;
}
.navbar__s3{
    padding:10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;   
}
.navbar__s4{
    display: none;
}
/* My Learning  */
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning:hover .mylearning__popup{
    display: block;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100%;
    padding: 20px;
    top: 150%;
    right: 0;
    display: none;
    
}
.categories{
    margin: 2px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 1px;
}
.categories p{
    padding: 10px;
    background-color:  #a435f0;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    border: solid  #a435f0 1px;
}
.categories p:hover{
    background-color: white;
    color: black;
    transition: 1s;
    border: solid  #a435f0 1px;
}
.sales-image img{
    width: 100%;
}
.sales-image{
    position:relative;
}
.sales-image__offer{
    width: 35%;
    background-color: white;
    border: solid black 2px;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.recommended{
    padding: 10px;
}
.recommended__container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}
.course-card img{
    height: 50%;
    width: 100%;
}
.topics{
   padding: 10px;
}
.topics__container{
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Media Queries */

@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}
@media screen and (max-width:600px) {
    .course-card{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }
    .navbar__s2,.navbar__s3{
        display: none;
    }
    .navbar__s4{
        display: block;
    }
}